.product-item {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c9c9c9;
}

.product-quantity {
    color: #b5b5b5;
}

.product-price {
    font-size: 2rem;
    padding-top: 2.5rem;
    color: black;
}
