* {
    box-sizing: border-box;
}

$img-width: 700px;
$img-height: 400px;

img {
    max-width: 100%;
    vertical-align: top;
}

.gallery {
    display: flex;
    flex-direction: column;
    max-width: $img-width;

    &_image {
        position: relative;
        margin-bottom: 10px;
    }

    &__img--clear {
        position: absolute !important;
        top: 20px;
        right: 20px;
        z-index: 10;
        background: transparent;

        &:hover ~ .gallery__img {
            opacity: 0.5;
        }
    }

    &__img {
        width: 100%;
        height: $img-height;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s linear;
    }

    &_items {
        display: flex;
        // justify-content: space-around;
    }

    &__item {
        margin-right: 10px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__thumb {
        padding-top: 6px;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.6;
        }
    }

    &__selector {
        position: absolute;
        opacity: 0;
        visibility: hidden;

        &:checked {
            ~ .gallery__thumb > img {
                box-shadow: 0 0 0 3px #ed6069;
            }
        }
    }
}
