.product-card {
    width: 200px !important;
    max-width: 200px !important;
    transition: var(--transition-normal) !important;
    cursor: pointer;
    border-radius: 10px;
}
.product-card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add-cart-container {
    /* background-color: var(--main-blue) !important; */
    border-radius: 12px !important;
    z-index: 10;
    transition: var(--transition-normal);
}

.add-cart-content {
    color: #fff !important;
    margin-left: 6px;
    font-size: 0;
    margin: 0 !important;
    transition: var(--transition-normal);
}

.product-price-main {
    transition: var(--transition-normal);
}

.add-cart-container:hover {
    background-color: var(--main-blue) !important;
}

.add-cart-container:hover + .product-price-main {
    font-size: 0.8rem;
}

.add-cart-container:hover svg {
    color: #fff !important;
    animation: rotation 0.4s linear;
}

.add-cart-container:hover .add-cart-content {
    animation: appear 0.2s 0.1s linear forwards;
}

@keyframes rotation {
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        font-size: 0;
    }
    to {
        font-size: 1.2rem;
    }
}

.card-product-name {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.disabled-card::after {
    content: 'Hết hàng';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}
