.product-card {
    width: 200px !important;
    max-width: 200px !important;
    transition: var(--transition-normal) !important;
    cursor: pointer;
    border-radius: 10px;
}
.product-card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
